<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luciocossio.classclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.luciocossio.classclient.activities.PowerPointPresentationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
        	android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.luciocossio.classclient.activities.ChooseServiceActivity"
            android:label="@string/title_activity_choose_service"
        	android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.luciocossio.classclient.activities.ImagePresentationActivity"
            android:label="@string/title_activity_image_presentation"
        	android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.luciocossio.classclient.activities.ControlPowerPointActivity"
            android:label="@string/title_activity_control_power_point"
        	android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.luciocossio.classclient.activities.ControlImagePresentationActivity"
            android:label="@string/title_activity_control_image_presentation"
        	android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.luciocossio.classclient.activities.image.ImageGallery"
            android:label="@string/title_activity_control_image_presentation"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.luciocossio.classclient.activities.ControlImagePresentationActivityGesture"
            android:label="@string/title_activity_control_image_presentation"
        	android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.luciocossio.classclient.activities.ControlPowerPointActivityGesture"
            android:label="@string/title_activity_control_image_presentation"
        	android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.luciocossio.classclient.activities.PrefsActivity"
            	  android:label="@string/titlePrefs"></activity>
        
        <activity
    	android:name="com.ipaulpro.afilechooser.FileChooserActivity"
    	android:icon="@drawable/ic_chooser"
    	android:label="Choose a file" >
    	<intent-filter>
        <action android:name="android.intent.action.GET_CONTENT" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.OPENABLE" />

        <data android:mimeType="*/*" />
    </intent-filter>
</activity>
    </application>

</manifest>